<section class="contenedor">
  <div class="contenedor-items">
    <div class="item">
      <span class="titulo-item">{{colorPokemon}}</span>
      <div class="contenedor-imagen">
        <img [src]="rutaImgPokemon" alt="" class="img-item">
      </div>
      <span class="nombre-item">{{nombrePokemon}}</span>
      <div class="details-item">{{detallePokemon}}</div>
    </div>
  </div>

</section>
<div class="center-button">
  <button class="btn btn-primary bntBack" (click)="goBack()"> Atras </button>
</div>

